h1 {
    text-align: right; 
    font-size: 6em; 
    max-width: 100%; 
    margin: 30vh auto 0; 
    line-height: 1.2; 
    font-style: italic; 
    font-style: oblique;
}


body, footer {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    background-color: #f0f0f0; 
    padding: 20px 0; 
}

footer a {
    margin: 0 10px; 
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
    font-size: 200%;
    text-decoration: underline;
    
}






